/* ==UserStyle==
@name           Artstation.com - Unblur Mature Content
@namespace      github.com/Neop0litan/CSS-Tweaks
@version        1.0.0
@description    Removed the blur on mature content and removes the "MATURE CONTENT" text
@author         Neopolitan#0002 (https://discord.com/users/427114049487241227)
@homepageURL    https://github.com/Neop0litan/CSS-Tweaks
==/UserStyle== */

@-moz-document domain("artstation.com") {
    .img-blur {
        -webkit-filter: none;
        filter: none;
    }

    .mature-content-label {
        display: none
    }
}
