/* ==UserStyle==
@name         Hypixel.net - Dark threads
@namespace    github.com/openstyles/stylus
@version      1.1.0
@description  A dark theme for forum posts and comments.
@author       neo.nyaa (https://discord.com/users/427114049487241227)
@homepageURL  https://github.com/NeoNyaa/CSS-Tweaks
==/UserStyle== */

@-moz-document url-prefix("https://hypixel.net/threads/") {
  :root {
    --background-primary: hsl(0, 0%, 5%);
    --background-secondary: hsl(0, 0%, 10%);
    --background-tertiary: hsl(0, 0%, 15%);
    --border: hsl(0, 0%, 20%);
    --accent: hsl(25, 58%, 40%);
    --text: hsl(0, 0%, 80%);
  }

  .message-articleUserInfo,
  .message-cell.message-cell--user,
  .message-cell.message-cell--action,
  .notice.notice--accent,
  .block-header,
  .pageNav-jump,
  .pageNav-page,
  .button.button--link,
  a.button.button--link,
  .bbTable>table>thead>tr>th,
  .bbTable>table>tbody>tr>th {
    background: var(--background-primary);
  }

  .block--messages .message,
  .block--messages .block-row,
  .block-container,
  .pageNav-jump:hover,
  .pageNav-page:hover,
  .pageNav-page.pageNav-page--current,
  .button.button--link:hover,
  a.button.button--link:hover,
  .bbCodeBlock-title {
    background: var(--background-secondary);
  }

  .rank-badge,
  .bbCodeInline,
  .bbCodeBlock,
  .sv-rating,
  .sv-rating__count,
  .pageNav-jump:hover,
  .pageNav-page:hover,
  .tooltip--sv-rate .tooltip-content,
  .button.button--link:hover,
  a.button.button--link:hover,
  .button.button--link:active,
  a.button.button--link:active,
  .button.button--link:focus,
  a.button.button--link:focus,
  .bbTable>table>thead>tr>td,
  .bbTable>table>tbody>tr>td {
    background: var(--background-tertiary);
  }

  .block--messages .message,
  .block--messages .block-row,
  .bbCodeBlock,
  .bbCodeInline,
  .bbCodeBlock-title,
  .block-container,
  .block-header,
  .sv-rating__count {
    color: var(--text);
  }

  .message-signature,
  .message-cell.message-cell--user,
  .message-cell.message-cell--action,
  .block--messages .message,
  .block--messages .block-row,
  .message-attribution,
  .bbCodeInline,
  .bbCodeBlock,
  .block-container,
  .block-header,
  .structItem,
  .sv-rating,
  .pageNav-jump,
  .pageNav-page,
  .pageNav-page:hover,
  .message-articleUserInfo,
  .button.button--link,
  a.button.button--link,
  .tooltip--sv-rate .tooltip-content,
  .bbTable>table>thead>tr>th,
  .bbTable>table>tbody>tr>th,
  .bbTable>table>thead>tr>td,
  .bbTable>table>tbody>tr>td {
    border-color: var(--border) !important;
  }

  .message-articleUserInfo a,
  .message-cell.message-cell--user a,
  .message-cell.message-cell--action a,
  article a,
  .notice.notice--accent,
  .structItem-title a,
  .structItem-latestDate,
  .pageNav-page.pageNav-page--current,
  .pageNav-jump,
  .pageNav-jump:hover,
  .pageNav-page,
  .pageNav-page:hover,
  .button.button--link,
  a.button.button--link {
    color: var(--accent) !important;
  }

  .message-userDetails .message-userDetails-block {
    border: 1px solid var(--border);
  }

  .p-body-before,
  .p-body-inner,
  .p-body-main,
  .p-body-after {
    filter: invert(1) hue-rotate(180deg);
  }

  /* Fix black text due to people not knowing how to use the forum editor */
  [style*="color: rgb(0, 0, 0)"],
  [style*="color: initial"] {
    color: var(--text) !important;
  }

  .bbCodeBlock {
    border-left-color: var(--accent) !important;
  }

  .message-userArrow {
    display: none;
  }

  .bbCodeBlock-expandLink {
    background: linear-gradient(to bottom, transparent 0%, var(--background-tertiary) 80%);
  }
}
