/* ==UserStyle==
@name           Rule34.xxx - Navbar Link Toggler
@namespace      github.com/openstyles/stylus
@version        1.3.1
@description    Allows the user to hide specific links in the navbar
@author         neo.nyaa (https://discord.com/users/427114049487241227)
@homepageURL    https://github.com/NeoNyaa/CSS-Tweaks

@preprocessor stylus
@var checkbox myAccount-Link "Hide the \"My Account\" link: " 0
@var checkbox posts-Link "Hide the \"Posts\" link: " 0
@var checkbox comments-Link "Hide the \"Comments\" link: " 0
@var checkbox wiki-Link "Hide the \"Wiki\" link: " 0
@var checkbox aliases-Link "Hide the \"Aliases\" link: " 0
@var checkbox artists-Link "Hide the \"Artists\" link: " 0
@var checkbox tags-Link "Hide the \"Tags\" link: " 0
@var checkbox pools-Link "Hide the \"Pools\" link: " 0
@var checkbox forum-Link "Hide the \"Forum\" link: " 0
@var checkbox iCameTop100-Link "Hide the \"iCame Top 100\" link: " 0
@var checkbox help-Link "Hide the \"Help\" link: " 0
@var checkbox discordChat-Link "Hide the \"Discord Chat\" link: " 0
@var checkbox aiJerkOff-Link "Hide the \"AI Jerk Off\" link: " 0
@var checkbox otherSites-Link "Hide the \"Other Sites\" link: " 0
==/UserStyle== */

@-moz-document domain("rule34.xxx") {
	if myAccount-Link {
		#navbar > li:has(a[href*='?page=account&s=home']) {
			display: none !important;
		}
	}

	if posts-Link {
		#navbar > li:has(a[href*='?page=post&s=list&tags=all']) {
			display: none !important;
		}
	}

	if comments-Link {
		#navbar > li:has(a[href*='?page=comment&s=list']) {
			display: none !important;
		}
	}

	if wiki-Link {
		#navbar > li:has(a[href*='?page=wiki&s=list']) {
			display: none !important;
		}
	}

	if aliases-Link {
		#navbar > li:has(a[href*='?page=alias&s=list']) {
			display: none !important;
		}
	}

	if artists-Link {
		#navbar > li:has(a[href*='?page=artist&s=list']) {
			display: none !important;
		}
	}

	if tags-Link {
		#navbar > li:has(a[href*='?page=tags&s=list']) {
			display: none !important;
		}
	}

	if pools-Link {
		#navbar > li:has(a[href*='?page=pool&s=list']) {
			display: none !important;
		}
	}

	if forum-Link {
		#navbar > li:has(a[href*='?page=forum&s=list']) {
			display: none !important;
		}
	}

	if iCameTop100-Link {
		#navbar > li:has(a[href*='?page=icame']) {
			display: none !important;
		}
	}

	if help-Link {
		#navbar > li:has(a[href*='?page=help']) {
			display: none !important;
		}
	}

	if discordChat-Link {
		#navbar > li:has(a[href*='https://discord.gg/rule34xxx']) {
			display: none !important;
		}
	}

  if aiJerkOff-Link {
		#navbar > li:has(a[href*='tsyndicate.com']) {
			display: none !important;
		}
	}

	if otherSites-Link {
		#navbar > li:has(a[href*='/link.php']) {
			display: none !important;
		}
	}
}
