/* Import the good stuff */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* Variable tweaks */
:root {
    --server-icon-size: 40px;
    --server-container: calc(var(--server-size) + 16px);
    --server-size: 48px;
}

/* Make code blocks use the Fira Code font */
code {
    font-family: 'Fira Code', monospace !important;
}

/* Apply hover effect to messages */
.messageListItem-ZZ7v6g:hover {
    background: #00000020;
}

/* Hide some things from view */
#app-mount .buttons-uaqb-5 > *:nth-child(1),
#app-mount .buttons-uaqb-5 > *:nth-child(3),
[class*="pictureInPicture"],
[href="/store"],
.unread-36eUEm {
	display: none;
}

/* Folder server icon position tweaks */
.closedFolderIconWrapper-3tRb2d {
    padding: 0px !important;
    transform: scale(0.9);
}

/* Home button position adjustments */
.tutorialContainer-1pL9QS {
    margin-top: 8px;
}

/* Server list pill position and height adjustments */
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 8"] {
    transform: unset !important;
}
#app-mount .guilds-2JjMmN [class*=pill] {
    width: 4px;
    margin-left: -4px;
}


/* Fixes the image view plugin from looking janky */
#app-mount .root-g14mjS.gallery-JViwKR {
    border: unset;
    background: unset;
    box-shadow:unset;
    transform: unset;
    -webkit-animation: unset;
    animation: unset;
    width: unset;
}

/* Channel unread pill position adjustments */
#app-mount .channel-1Shao0 .interactive-1vLZ_I::before,
#app-mount .wrapper-NhbLHG::before {
    margin-left: 4px;
    left: unset;
}

/* Call participant count height adjustments */
.total-1c5KCN,
.users-2JoyGL {
    padding-bottom: 2px;
    line-height: 18px;
}

/* Attachment color adjustments */
.theme-dark .wrapperAudio-1Bzv_Z {
    background: var(--chat-bubble-bg);
    border: none;
}
[data-is-author-self="true"] > .container-2sjPya > .messageAttachment-CZp8Iv > * {
    background: rgb(var(--accent), 0.05);
}

/* Embed sidebar uses accent color */
.embedFull-1HGV2S {
    border-left: 4px solid rgb(var(--accent));
}

/* No friend activity color adjustments */
.emptyCard-KDifrB {
    background: var(--chat-bubble-bg);
}

/* Users own message styling tweaks */
#app-mount .cozy-VmLDNB[data-is-author-self=true] .contents-2MsGLg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: rgb(var(--accent), 0.05);
}
#app-mount .cozy-VmLDNB[data-is-author-self=true] .contents-2MsGLg > .messageContent-2t3eCI {
    background: transparent;
}
.searchResult-O9NDji .header-2jRmjb {
    background: var(--bg-alt) !important;
}

/* Search modal position tweaks */
.searchResult-O9NDji {
    padding-left: 5px;
}

/* Servers with no icons have a dark gray background */
.noIcon-3gSX9V,
.acronym-2zrAHN {
    background: #151515 !important;
}
.acronym-vuwTO7 {
    margin-top: 2px;
}

/* Image detail padding adjustments */
.imageDetails-1t6Zms {
    padding: .25rem;
    padding-left: calc(.25rem + 3px);
    line-height: 14px;
}
.imageDetails-1t6Zms > [name=Download] {
    margin-right: unset;
}
.altText-sAs-Ao {
    border-radius: var(--rounded);
}

/* Unread message bar size adjustments */
#app-mount .divider-IqmEqJ {
    margin: .75rem;
}

/* Message border radius adjustments */
.contents-2MsGLg {
    border-radius: var(--rounded);
}

/* Message bar typing indicator position adjustments */
#app-mount .typing-2J1mQU {
    padding: 0 71px;
}

/* Reply bar color tweaks */
.attachedBars-2BCP3l,
.clipContainer-31nYlH,
.container-A2jo65,
.replyBar-1oi75v {
    background: var(--alt-bg)
}
.replyBar-1oi75v {
    border-bottom: solid 1px var(--btn-border-t);
}
