/* ==UserStyle==
@name           Whatsapp.com - Full Size WhatsApp
@namespace      github.com/Neop0litan/CSS-Tweaks
@version        1.1.0
@description    Removes the padding around the WhatsApp interface allowing WhatsApp to scale itself up to fit the browser viewport.
@author         Neopolitan#0002 (https://discord.com/users/427114049487241227)
@homepageURL    https://github.com/Neop0litan/CSS-Tweaks
==/UserStyle== */

@-moz-document domain("web.whatsapp.com") {
    .app-wrapper-web > div {
        top: unset !important;
        max-width: unset !important;
        width: 100% !important;
        height: 100% !important;
    }
}