.progressText {
    position: absolute;
    margin-right: 6px;
    margin-top: -20px;
    right: 0;
    color: #fff !important;
    text-shadow: 0 0 2px #000;
}

.achievementProgressBar {
    max-width: unset !important;
}

.achieveTxt.withProgress {
    width: 100%;
}

.achievementProgressBar .progress {
    background: #393 !important;
}

.achieveImgHolder {
    top: unset !important;
}
